h1 {
    color: rgb(41, 89, 41);
    text-align: center;
    font-family: sans-serif;
    font-size: 5em;
}

h3:hover,
h4:hover {
    animation-duration: 4s;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    transition: 0.3s;
    text-align:start;

}

body {
    font-family: 'Arial Narrow Bold', sans-serif;
    background-color: #a6aec1;

    text-align: center;

}

img {
    border-radius: 60px;
    margin: 5px;
    padding: 5px;
    transition: 0.4s;
    display: flex;
  
}
img:hover{
      
    transform: scale(1.1);
}

button{
    background-color: rgb(122, 199, 122);
    animation: cubic-bezier(0.23, 1, 0.320, 1);
    margin: 3px;
    border-radius: 30px;
    padding: 5px;
}
button:hover{
    transform: scale(1.1);
    transition: 0.3s;
}


.item-menu {

    color: rgb(41, 89, 41);
    font-size: 28px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: right;
    font-family: "Lobster", sans-serif;


}

#Produtos {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
/* flex-wrap: nowrap;*/
    flex-direction:row;
    justify-content: left;
    flex-wrap: wrap;
}



.Produtos {
    height: 300px;
    
    /* width: 100%; */
    text-align: center;
    padding: 20px;

}

.Produtos img {

    max-height: 260px;    ;

}
