
h1{
    background-color: darkgreen;
    text-align: center;   
    font-family:  sans-serif; 
    font-size:  50px;
}
h5{
font-family:  'Arial Narrow Bold', sans-serif; 
color: rgb(255, 255, 255);
}
h4{
    font-family:  'Arial Narrow Bold', sans-serif; 
 color: rgb(255, 255, 255);
 
 
}

body{
    font-family:  'Arial Narrow Bold', sans-serif; 
    background-color: rgb(139, 137, 137);
 text-align: center;
   

}
img{
border-radius: 60px;
margin: 5px;
padding: 5;


}
 button{
    background-color: rgb(157, 194, 157);
    animation: cubic-bezier(0.23, 1, 0.320, 1);
   animation-play-state: paused;
   margin: 3px;
   border-radius: 30px;
   padding: 5px;
 }
 

.item-menu{
    
    color: rgb(155, 180, 155) ;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    font-family: "Lobster", sans-serif
 }
 
#Produtos{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

button:hover{

}

.Produtos{
    height: 350px;
    max-height: 350px;
    width: 50%;
    text-align: center;
    padding: 20px;
    
}

.Produtos img{
      
    width: 300px;
    flex-direction: column;
    

}